@font-face {
	src: url(fonts/AkzidenzGroteskPro-Regular.otf);	
	font-family: akz-reg;
}
@font-face {
	src: url(fonts/AkzidenzGroteskPro-Md.otf);	
	font-family: akz-med;
}


body{
	font-family: akz-reg, Helvetica, sans-serif;
	font-size: 14px;
	line-height: 1.35;
}

h2{
	font-size: 20px;
}

h3{
	font-size: 18px;
}


header{
	padding: 2%;
	overflow: hidden;
}

header h2{
	float:  left;
	font-size: 20px;
}

header nav{
	float: right;
}

header a{
	text-decoration: none;
	color:  black;
}

header a:hover{
	text-decoration: underline;
}




.square{
	color:  red;
	font-size:  125%;
}

.triangle{
	color:  #F3D500;
	font-size:  85%;
}

.circle{
	color:  blue;
	font-size:  125%;
}




.one-col div{
	width:  60%;
	margin: 0 2% 4% 2%;
}



.two-col{
	overflow: hidden;
}

.two-col div{
	width: 29%;
	margin: 0 2% 4% 2%;
	float: left}

.two-col img{
	width: 100%;
}

.two-col a{
	color: black;
	text-decoration: none;
}

.two-col a:hover{
	text-decoration: underline;
}





.container{
	width:  65%;
	margin:  auto;
}

.image{
	width:  100%;
}

.image-portrait{
	width:  46%;
}

.container a{
	color:  black;
}



@media (max-width: 600px){
	.two-col div{
		float: none;
		width: auto;
	}
	.container{
		width:  95%;
	}
	.image-portrait{
		width:  100%;
	}
}

@media (max-device-width: 600px){
	.two-col div{
		float: none;
		width: auto;
	}
	.container{
		width:  95%;
	}
	.image-portrait{
		width:  100%;
	}

	body{
		font-family:  Helvetica, sans-serif;
		font-size:  25px;
		line-height: 1.25;
	}

	h3{	
		font-family:  Helvetica, sans-serif;
		font-size:  27px;
		line-height:  1.25;
	}

	h2{
		font-family:  Helvetica, sans-serif;
		font-size:  30px;
		line-height:  1.25;
	}

	header h2{
		font-family:  Helvetica, sans-serif;
		font-size:  30px;
		line-height:  1.25;
	}

	
}









