@font-face {
	src: url(fonts/AkzidenzGroteskPro-Regular.otf);	
	font-family: akz-reg;
}
@font-face {
	src: url(fonts/AkzidenzGroteskPro-Md.otf);	
	font-family: akz-med;
}
p {
	font-family: akz-reg, sans-serif;
	font-size: 20px;
}

h1 {
	font-family: akz-reg, sans-serif;
	font-size: 32px;
	font-weight: normal;
	font-color: black;
}

h2 {
	font-family: akz-med, sans-serif;
	font-size: 24px;
	font-weight: normal;
}

h3 {
	font-family: akz-reg, sans-serif;
	font-size: 16px;
	font-weight: normal;
}

h4 {
	font-family: akz-reg, sans-serif;
	font-size: 12px;
	font-weight: normal;
}

h5 {
	font-family: akz-reg, sans-serif;
	line-height: 0;
	font-size: 24px;
	font-weight: medium;
	letter-spacing: .35px;
}

h6 {
	font-family: akz-reg, sans-serif;
	line-height: .5;
	font-size: 14px;
	font-weight: normal;
}

a{
	color: black;
	text-decoration: none;
}

a:hover{
	color: #af9d8f;
	text-decoration: none;
}

.nav{
	color: #af9d8f;
	text-decoration: none;
}

.sidenav {
	height: 100%;
	width: 175px;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	overflow-x: hidden;
	padding-top: 15px;
	padding-left: 30px;
	font-family: akz-reg, sans-serif;
	line-height: 16px;
}


.sidenav p{
	font-size: 13px;
	line-height: initial;

}

.sidenav h1{
	font-size: 18px;
	font-weight: bold;
	letter-spacing: .35px;
	line-height: initial;
	font-color: black !important;
}

.container-home {
	margin-left: 250px;
	padding-top: 25px;
	padding-bottom: 25px;
}

.container {
	margin-left: 250px;
	padding-top: 25px;
	width: 70%;
}

.container-description{
	width: 600px;
	align-content: left;
}

.image {
	width: 100%;
}

.image-full {
	width: 100%;
	align-content: center;
}

.image-small {
	width: 150px;
}

.grid-image {
	width: 32%;
	position: center;
	padding: .1%;
}

.project-image-left{
	width: 48%;
	height: auto;
}

.project-image-right{
	width: 48%;
	height: auto;
	float: right;
}







